.git
.env
.github/
.venv/
.vscode/
__pycache__
*.pyc

# Exclude Dashboard files (Irrelevant for Serverless container)
server.py
static/
uploads/
cache/
betterment/
cleanup/
logs-github/
new stack/
tests/
*.tar.gz
*.md
*.docx
*.txt
