fastapi
uvicorn
python-multipart
faster-whisper
pyannote.audio
soundfile
torch
torchvision
torchaudio
speechbrain
omegaconf
einops
onnxruntime-gpu
python-dotenv
paddleocr
paddlepaddle
opencv-python-headless
rapidfuzz
